* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}

.container {
  overflow: hidden;
  background-color: rgb(74, 78, 78);
  min-height: 100vh;
  width: 100%;
  color: #fff;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  padding: 20px 8%;
}

.menu-img {
  width: 25px;
  margin-right: 20px;
  cursor: pointer;
}

.menu-logo {
  width: 50px;
  cursor: pointer;
  /* border-radius: 50%; */
}
.menu-list {
  flex: 1;
  text-align: right;
}

.menu-item {
  display: inline-block;
  list-style: none;
  margin: 0 20px;
}

.menu-item a {
  color: #fff;
}

button {
  background: #fff;
  height: 30px;
  width: 60px;
  border-radius: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background 0.5s;
}

button span {
  display: block;
  background: #999;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  margin: 2px;
  transition: background 0.5s, margin 0.5s;
}

.lamp-container {
  position: absolute;
  top: 0;
  left: 22%;
  width: 200px;
}
.lamp {
  width: 100%;
}
.light {
  position: absolute;
  top: 97.5%;
  left: 50%;
  transform: translateX(-50%);
  width: 700px;
  margin-left: -10px;
  opacity: 0;
  transition: opacity 0.5s;
}
.text-container {
  max-width: 600px;
  margin-top: 7%;
  margin-left: 50%;
}
.text-container h1 {
  font-size: 80px;
  font-weight: 400;
}
.text-container a {
    font-size: 20px;
  margin-top: 40px;
  background-color: rgb(50, 184, 150);
  padding: 14px 40px;
  display: inline-block;
  color: #fff;
  border-radius: 50px;
}
.control {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}
input {
color: rgb(50, 184, 150);
  width: 250px;
  height: 4px;
  background-color: #fff;
  margin: 0 20px;
  border-radius: 2px;
}

.active {
  background: green;
}

.active span {
  background: #fff;
  margin-left: 31px;
}

.on {
  opacity: 1;
}

@media (max-width: 768px) {
  .menu-list {
    display: none;
  }
  button {
    margin-left: 50%;
  }
  .text-container {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 60%;
    left: -50%;
  }
  .text-container h1 {
    display: inline-block;
    font-size: 30px;
    margin-bottom: 5px;
  }
}
